# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/

# Environment Variables
.env
.env.local
.env.production

# Database
*.db
*.sqlite3

# Build Output
dist/
build/
tmp/

# Local dev server logs
*_dev.*.log
*.log

# IDEs
.vscode/
.idea/
.DS_Store
.vercel
.env*
